################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/api/netcore/todo-netcore/.vs
/api/netcore/todo-netcore/todo-netcore/.vs
/api/netcore/todo-netcore/todo-netcore/bin/Debug/net6.0
/api/netcore/todo-netcore/todo-netcore/obj
